.container {
  text-align: center;
  margin-top: 10px;
  margin: auto;
  width: 1000px;
  background-color: lightgrey;
  height: 800px
}

#header {
  background-color: lightblue;
  height: 150px;
}

.btn {
  background: blue;
}

#stoptime {
  background-color: blue;
}

p {
  font-size: 20px;
}

footer {
  margin-left: 670px;
  color: dodgerblue;
}

#navbarcolor {
  background-color: cornflowerblue;
  height: 80px;
}